/LearnProject/Debug
/LearnProject/Release
/LearnProject/LearnProject.sln
/LearnProject/LearnProject.VC.db
/LearnProject/LearnProject/Debug
/LearnProject/LearnProject/Debug
/LearnProject/LearnProject/Release
/LearnProject/LearnProject/LearnProject.vcxproj
/LearnProject/LearnProject/LearnProject.vcxproj.filters
/LearnProject/LearnProject/LearnProject.vcxproj.user